[Unit]
Description=uWSGI instance to serve the Citizen X server
After=network.target

[Service]
User=stabue
ExecStart=/var/www/geb20/cx/backend/venv/bin/uwsgi --ini /var/www/geb20/cx/backend/uwsgi.ini
RuntimeDirectory=stabue

[Install]
WantedBy=multi-user.target

# save in /etc/systemd/system/stabue.service
# git config core.fileMode false
# sudo systemctl start stabue
